<div class="relative overflow-x-auto max-w-[1000px] mx-auto">
  <a href="/user/create" class="cursor-pointer inline-block">
    <button
      type="button"
      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      Thêm thành viên
    </button>
  </a>

  <form class="max-w-md mx-auto" method="GET" action="/">
    <input type="hidden" name="page" value="1" />
    <input type="hidden" name="per_page" value="<%= data.limit %>" />
    <label
      for="default-search"
      class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
    >
      Search
    </label>
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="search"
        id="default-search"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Tìm kiếm theo tên"
        name="search"
        value="<%= data.search  %>"
      />
      <button
        type="submit"
        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Search
      </button>
    </div>
  </form>

  <nav aria-label="Page navigation example" class="my-4 flex justify-end">
    <ul class="flex items-center -space-x-px h-8 text-sm">
      <li>
        <a
          href="<%= data.page <= 1 ? '#' : `?page=${data.page - 1}&per_page=${data.limit}&search=${data.search}` %>"
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Previous</span>
          <svg
            class="w-2.5 h-2.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
        </a>
      </li>
      <% Array(data.totalPage).fill().forEach((_, index) => { %>
      <li>
        <a
          href="?page=<%= index + 1 %>&per_page=<%= data.limit %>&search=<%= data.search  %>"
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white <%= index + 1 === data.page && '!bg-gray-700 !text-gray-100' %>"
        >
          <%= index + 1 %>
        </a>
      </li>
      <% }) %>

      <li>
        <a
          href="<%= data.page >= data.totalPage ? '#' : `?page=${data.page + 1}&per_page=${data.limit}&search=${data.search}` %>"
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Next</span>
          <svg
            class="w-2.5 h-2.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">STT</th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap">Họ tên</th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap">Avatar</th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap">
          Ngày tháng năm sinh
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <% data.rows.forEach((item) => { %>
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <%= item.id %>
        </th>
        <td class="px-6 py-4"><%= item.name %></td>
        <td class="px-6 py-4">
          <img
            src="/user/<%= item.id  %>/avatar"
            class="max-w-[200px]"
            alt=""
          />
        </td>
        <td class="px-6 py-4"><%= item.birthday %></td>
        <td class="px-6 py-4">
          <div class="flex items-center gap-1.5">
            <a href="/user/<%= item.id %>" class="cursor-pointer">
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-width="2"
                  d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"
                />
                <path
                  stroke="currentColor"
                  stroke-width="2"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
            </a>
            <a href="/user/<%= item.id %>/edit" class="cursor-pointer">
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                />
              </svg>
            </a>
            <button class="cursor-pointer btn-delete" data-id="<%= item.id %>">
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                />
              </svg>
            </button>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<script>
  // Cách 1: Dùng js để gọi api
  const buttonDelete = document.querySelectorAll(".btn-delete");
  if (buttonDelete) {
    buttonDelete.forEach((button) => {
      button.addEventListener("click", async (e) => {
        if (!confirm("Bạn có chắc chắn muốn xoá?")) return;

        const id = button.getAttribute("data-id");
        const row = e.target.closest("tr");

        try {
          await fetch(`/user/${id}/delete`, {
            method: "DELETE",
          });
          row.remove();
        } catch (error) {}
      });
    });
  }
</script>
