<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      class="max-w-sm mx-auto"
      action="<%= data ? `/edit/${data.id}/user` : '/create-user' %>"
      method="post"
      autocomplete="off"
      enctype="multipart/form-data"
    >
      <div class="mb-5">
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Họ tên
        </label>
        <input
          type="text"
          id="name"
          class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
          placeholder="Họ và tên"
          required
          name="name"
          value="<%= data?.name ?? ''%>"
        />
      </div>
      <div class="mb-5">
        <label
          for="birthday"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Ngày tháng năm sinh
        </label>
        <input
          type="date"
          id="birthday"
          class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
          required
          name="birthday"
          value="<%= data?.birthday ?? '' %>"
        />
      </div>

      <div class="mb-5">
        <label
          for="birthday"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Ảnh đại diện
        </label>
        <input
          type="file"
          class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
          accept="image/*"
          name="avatar"
          value="<%= data?.avatar ?? '' %>"
        />
      </div>

      <div class="preview-image mb-3">
        <% if(data?.avatar){ %>
        <img src="/user/<%= data.id  %>/avatar" alt="" />
        <% } %>
      </div>

      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Lưu
      </button>
    </form>

    <script>
      const elementFile = document.querySelector("input[type=file]");
      const boxPreviewImage = document.querySelector(".preview-image");

      if (elementFile) {
        let currentImage = null;

        elementFile.addEventListener("change", (e) => {
          const file = e.target.files[0];

          if (!file) return;

          const previewImage = URL.createObjectURL(file);

          boxPreviewImage.innerHTML = "";

          const tagImage = document.createElement("img");

          tagImage.setAttribute("src", previewImage);
          tagImage.width = 150;
          tagImage.height = 150;

          boxPreviewImage.appendChild(tagImage);
        });
      }
    </script>
  </body>
</html>
